.arrivals {
  padding-top: 120px;
  padding-bottom: 143px;
}
.arrivals__header {
  margin-bottom: 100px;
}
.arrivals__title {
}
.arrivals__items {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.arrivals__item {
}
