.card {
  position: relative;
}

.card__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 12;
}

.card__img {
  position: relative;
  border-radius: 20px;
  cursor: pointer;
}

.card__imgwrap {
  margin-bottom: 28px;
  position: relative;
  z-index: 1;
  border-radius: 20px;
  background-color: #000;
}

.card__imgwrap::before {
  content: "";
  position: absolute;
  display: block;
  z-index: 10;
  transition: all 0.5s;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.3;
  border-radius: 20px;
}

.card__body {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.card__title {
  margin-bottom: 7px;
  color: var(--mainColor);
  font-size: 32px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: -1.28px;
}

.card__muted {
  color: var(--thirdColor);
  font-size: 24px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: -0.96px;
}

.card__icon {
  display: flex;
  align-items: center;
  position: relative;
}

.none {
  display: none;
}

/* --------------- animation ---------------- */

@keyframes slide {
  0% {
    left: 0;
  }
  50% {
    left: -20px;
  }
  100% {
    left: 0;
  }
}

.card:hover .card__imgwrap::before {
  width: 100%;
}
.card:hover .card__title {
  color: #0910d3;
}
.card:hover .card__icon {
  animation: slide 0.5s ease-in-out;
}

/*------------------- media ------------------- */

@media (max-width: 1024px) {
  .card__title {
    font-size: 25px;
    line-height: 35px;
  }
  
  .card__muted {
    font-size: 20x;
    line-height: 35px;
  }
}
