.mobile-app {
  padding: 210px 219px 200px 219px;
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.mobile-app__text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 510px;
}

.mobile-app__title {
  margin-bottom: 41px;
  color: #000;
  font-size: 48px;
  font-weight: 900;
  line-height: 150%;
  letter-spacing: 2.88px;
}
.mobile-app__desc {
  margin-bottom: 65px;
  color: var(--secColor);
  font-size: 24px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: -0.96px;
}
.mobile-app__btns {
  display: flex;
  column-gap: 19px;
}
.mobile-app__image {
  text-align: center;
}

@media (max-width: 1600px) {
  .mobile-app {
    padding: 100px;
  }
}