.header {
  margin: 46px 0 56px 0;
  height: 62px;
}

.header__row {
  display: flex;
  column-gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.header__row > div {
  cursor: pointer;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 13px;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.header__nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 65px;
}

.header__nav a {
  color: var(--mainColor);
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.22px;
}

a.header__nav-btn {
  padding: 13px 22px 17px 22px;
  background-color: #000;
  color: #fefefe;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.72px;
  border-radius: 7px;
}

@media (max-width: 1200px){
  .header {
    margin: 40px 0;
  }
}

@media (max-width: 1024px){
  .header {
    margin: 10px 0;
  }
  .header__logo {
    font-size: 40px;
  }
  .header__nav ul {
    column-gap: 20px;
  }
}

@media (max-width: 768px){
  .header {
    margin: 10px 0;
  }
  .header__logo {
    font-size: 25px;
  }
  .header__nav ul {
    column-gap: 10px;
  }

  .header__nav a {
    font-size: 15px;
    letter-spacing: 0.22px;
  }
}
