.footer {
  padding-top: 120px;
  padding-bottom: 147px;
  background-color: var(--mainColor);
  color: var(--footerTextColor);
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.footer__text {
  max-width: 410px;
}
.footer__title {
  margin-bottom: 32px;
  color: var(--fourthColor);
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 1.2px;
}
.footer__desc {
  margin-bottom: 32px;
  color: #8e8e8e;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.4px;
}
.footer__socials {
  display: flex;
  column-gap: 14px;
}
.footer__menu {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.footer__menu-col {
  min-width: 270px;
}

.footer__menu li {
  margin-bottom: 34px;
}

.footer__menu li a {
  color: #8e8e8e;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.4px;
}

.footer__menu li:first-child a{
  color: #D9D9D9;
}